<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
	
	
<title>EMBEBIDOS</title>
</head>
<body>

<h1>Embebidos</h1>
<img id="imagen" src="/static/images/iot.png" alt="user">
	


<h1>Hora:</h><h id="hora">--</h1>
</br>
<h1>Minutos:</h><h id="minuto">--</h1>
</br>
<h1>Segundos:</h><h id="segundo">--</h1>



<form >
	</br>
	<label Pin="pin">Ingrese un Pin:</label><br>
        <input type="text" id="pin" name="pin"><br>
        <br>
	<button id = 'prueba' type="button" onclick="enviar();">
	ENVIAR</button>		
	</br>
	
   </form>

</br>
<h1>Estado 1 Actual:</h><h id="estado1">--</h1>
<h1>Estado 2 Actual:</h><h id="estado2">--</h1>

<button id = 'estado1' type="button" onclick="Estado_1();">
ESTADO 1</button>	
<button id = 'estado2' type="button" onclick="Estado_2();">
ESTADO 2</button>
<br>



<h1>Sensor1:</h><h id="sensor1">--</h1>
<h1>Sensor2:</h><h id="sensor2">--</h1>

<button id = 'led1on'type="button" onclick="LED1_On();">
ENCENDER LED 1</button>
<button id = 'led1off' type="button" onclick="LED1_Off();">
APAGAR LED 1</button>
<br>
<br>
<button id = 'led2on'type="button" onclick="LED2_On();">
ENCENDER LED 2</button>
<button id = 'led2off' type="button" onclick="LED2_Off();">
APAGAR LED 2</button>
<br>

<h1>Historial:</h><h id="historial">--</h1>

<button id = 'historial1' type="button" onclick="Historial_1();">
HISTORIAL</button>
	



<script>
/*
function LED1_On() {
	alert("led on");
	console.log("led on");
  
}
function LED1_Off(){
	alert("led off");
	console.log("led off");
}
*/
</script>
</body>
</html>
