<?php

$nombre = $_POST['nombre'];

echo $nombre;

?>

<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>EMBEBIDOS</title>
</head>
<body>

<h1>Embebidos</h1>
<img id="imagen" src="/static/images/iot.png" alt="user">
	
<br/>	
<form  method="post"  action="index.html">
  <label Pin="pin">Ingrese un Pin:</label><br>
  <input type="text" id="pin" name="pin"><br>
  <input type="submit" value="Establecer">
</form>
<br/>
	
<h1>Estado Actual:</h><h id="estado">--</h1>
<h1>Sensor:</h><h id="sensor">--</h1>
<h1>Historial:</h><h id="historial">--</h1>	
<button id = 'LED1On'type="button" onclick="LED1_On();">
ENCENDER</button>
<button id = 'LED1Off' type="button" onclick="LED1_Off();">
APAGAR</button>
<button id = 'boton1' type="button" onclick="boton_1();">
HISTORIAL</button>
<button id = 'boton2' type="button" onclick="boton_2();">
ESTADO</button>	
<button id = 'enviar' type="button" onclick="enviar();">
ENVIAR</button>			
<script>
/*
function LED1_On() {
	alert("led on");
	console.log("led on");
  
}
function LED1_Off(){
	alert("led off");
	console.log("led off");
}
*/
</script>
</body>
</html>
